@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-img {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Guliakhali_Sea_Beach%2C_Sitakundu.jpg/1920px-Guliakhali_Sea_Beach%2C_Sitakundu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-img2 {
    background-image: url('https://images.pexels.com/photos/2847894/pexels-photo-2847894.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-img3 {
    background-image: url('https://images.pexels.com/photos/2161547/pexels-photo-2161547.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
/* 
.peer{
    background-color: #98C33A4D;
    color: white !important;
    border-color: #98C33A !important;
    border-top: #98C33A !important;
    
}

label{
    color: #98C33A!important;
    border-color: #98C33A !important;
    border-top: #98C33A !important;
} */