@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-img {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Guliakhali_Sea_Beach%2C_Sitakundu.jpg/1920px-Guliakhali_Sea_Beach%2C_Sitakundu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}